body {
  max-width: 500px;
  margin: auto;
  padding-left:  10px;
  padding-right: 10px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

h1, h2, h3 {
font-family: 'Merriweather', serif;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
}
h1 {
  text-transform: uppercase;
}

nav > li > a  {
  font-size: 20pt;
  text-decoration: none; 
  color: #F44;
}

nav > li > a:hover  {
  color: white; 
  background: #F44;
}

nav > li {
  display: inline;
  
}

li {
  list-style-type: none;
}

#credit, #copyright {font-size: 12pt;}


img {
  width: 100%
}

#menu {
  background-color: lightgoldenrodyellow;
  padding: 1em;
}

.pizzaName {
  text-decoration: underline;
}

#name {
  border: #F44;
  border-top-style: double;
}

#tagline {
  border: #f44;
  border-bottom-style: double;
}

#topMenu {
  border: #F44;
  border-top-style: double;
  border-bottom-style: double;
}

img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 
  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}